.navbar{
    background-color: black;
    border-radius: 30px;
    
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: gray;
    font-size: 25px;
}
.navbar li a:hover{
    color: white;
}
.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 158px;
    font-size: 17px;
}

.login {
    background-color: rgb(46, 46, 123);
    /* border: 2px solid white; */
    /* margin: -476px 780px; */
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.login h1 {
    text-align: center;
}

.login button {
    display: block;
    width: 74%;
    margin: -2px auto;
}

body{
    background-color: black;
}

.psw{
    color: white;
    margin: 2px 3px;
}

.psw a{
    color: blue;
    margin: 2px 3px;
    
}