.navbar {
    background-color: black;
    /* border-radius: 30px; */
}

.navbar ul {
    overflow: auto;
    margin-left: 680px;
    margin-top: -10px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 30px 30px;
    /* height: 50px; */
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    /* margin-left: 200px */
    /* margin: 0 auto; */
    
}

.navbar li a:hover {
    color: #1ed760;;
}
.main{
    width: 100%;
    height: 300px;
    margin-top: -16px;
    background-color: rgb(29, 117, 222);
}
.main h2{
    color: white;
    font-size: 50px;
    margin-top: -16px;
    margin-left: 550px;
    margin-bottom: 10px;
    
}
.main p{
    color: white;
    margin-top: -16px;
    /* font-size: 45px; */
    line-height: 1.3;
}
.main p span{
    font-size: 22px;
}
.getminibtn{
    background-color: #1ed760;
    position: absolute;
    /* font-size: 30px; */
    color: white;
    line-height: 1;
    border-radius: 500px;
    margin-left: 540px;
    margin-top: 0px;
    cursor: pointer;
    width: 184px;
    height: 57px;
}
.getminibtn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.otherbtn{
    background-color: #1ed760;
    position: absolute;
    /* font-size: 30px; */
    color: white;
    line-height: 1;
    border-radius: 500px;
    margin-left: 740px;
    margin-top: 0px;
    cursor: pointer;
    width: 184px;
    height: 57px;
}
.otherbtn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.offer{
    color: white;
    width: 100%;
    height: 300px;
    margin-top: -35px;
    background-color: black;
}
.offer h3{
    font-size: 35px;
    /* margin-top: 50px; */
    margin-left: 545px;
    margin-bottom: -500px;
    padding-top: 80px;
}
.offer p{
    color: white;
    font-size: 22px;
    margin-top: 520px;
    margin-left: 440px;
}
.offerbtn{
    background-color: #1ed760;
    position: absolute;
    /* font-size: 30px; */
    color: white;
    line-height: 1;
    border-radius: 500px;
    margin-left: 650px;
    margin-top: 0px;
    cursor: pointer;
    width: 184px;
    height: 57px;
}
.offerbtn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.offer h6{
    color: wheat;
    margin-left: 500px;
    margin-top: 100px;
}
.offer h6 a{
    color: wheat;
}
.adv{
    margin-top: -20px;
    width: 100%;
    height: 400px;
    /* background-color: red; */
}
.adv h3{
    font-size: 35px;
    /* margin-top: 50px; */
    margin-left: 545px;
    margin-bottom: -500px;
    padding-top: 80px;
}
.p1{
    margin-left: 250px;
    margin-top: -220px;
}
.p1 h3{
    font-size: 20px;
    margin-left: -26px;
}
.p1 p{
    font-size: 15px;
    margin-left: -16px;
    line-height: 1.6px;
}
.p2{
    margin-left: 550px;
    margin-top: -220px;
}
.p2 h3{
    font-size: 20px;
    margin-left: -2px;
}
.p2 p{
    font-size: 15px;
    margin-left: -33px;
    line-height: 1.6px;
}
.p3{
    margin-left: 850px;
    margin-top: -220px;
}
.p3 h3{
    font-size: 20px;
}
.p3 p{
    font-size: 15px;
    margin-left: -25px;
    margin-top: -10px;
    /* line-height: .6px; */
}
.p4{
    margin-left: 1150px;
    margin-top: -250px;
}
.p4 h3{
    font-size: 20px;
    margin-left: 12px;
}
.p4 p{
    font-size: 15px;
    margin-left: 2px;
    margin-top: -7px;
    /* line-height: .6px; */
}
.why{
    margin-top: -20px;
    width: 100%;
    height: 450px;
    background-color: black;
}
.why h3{
    font-size: 35px;
    color: white;
    margin-left: 500px;
    padding-top: 80px;
}
.p5{
    margin-left: 200px;
    margin-top: -250px;
}
.p5 h3{
    color: white;
    font-size: 20px;
    margin-left: -7px;
}
.p5 p{
    color: white;
    font-size: 15px;
    margin-top: -7px;
    margin-left: -18px;
}
.p6{
    margin-left: 550px;
    margin-top: -250px;
}
.p6 h3{
    font-size: 20px;
    color: white;
    margin-left: 18px;
}
.p6 p{
    color: white;
    margin-top: -7px;
    margin-left: -14px;
}
.p7{
    margin-left: 900px;
    margin-top: -245px;
}
.p7 h3{
    font-size: 20px;
    color: white;
    margin-top: 23px;
    margin-left: 5px;
}
.p7 p{
    font-size: 15px;
    color: white;
    margin-top: -7px;
    margin-left: -25px;
}
.p8{
    margin-left: 1200px;
    margin-top: -245px;
}
.p8 h3{
    color: white;
    font-size: 20px;
    margin-top: 16px;
    margin-left: 8px;
}
.p8 p{
    color: white;
    font-size: 15px;
    margin-left: -22px;
    margin-top: -6px;
}
.price{
    width: 100%;
    height: 500px;
}
.price h3{
    font-size: 35px;
    margin-left: 565px;
    margin-bottom: -500px;
    padding-top: 80px;
}
.price p{
    font-size: 20px;
    color: black;
    margin-top: 525px;
    margin-left: 450px;
}
.p9{
    margin-left: 580px;
    margin-top: -310px;
}
.p10{
    margin-left: 635px;
    margin-top: -22px;
}
.p11{
    margin-left: 700px;
    margin-top: -20px;
}
.p12{
    margin-left: 740px;
    margin-top: -24px;
}
.p13{
    margin-left: 780px;
    margin-top: -24px;
}
.p14{
    margin-left: 818px;
    margin-top: -29px;
}
.f4{
    position: absolute;
    background-color:rgb(13, 114, 234);
    width: 6%;
    margin-top: 20px;
    margin-left: 15px;
    height: 25px;
    border-radius: 5px;
}
.f4 h5{
    font-size: 15px;
    margin-top: 3px;
    padding-left: 4px;
}
.ot{
    position: absolute;
    background-color:white;
    width: 11%;
    margin-top: 60px;
    margin-left: 15px;
    height: 25px;
    border-radius: 5px;
    color: blue;
    border-color: blue;
    border-style:outset;
}
.ot h5{
    font-size: 15px;
    margin-top: 3px;
    padding-left: 4px;
}
.individual{
    background-color: white;
    width: 15%;
    height: 500px;
    margin-top: 60px;
    margin-left: 100px;
    border-radius: 8px;
    border-style:outset;
    border-color: black;
}
.individual h3{
    font-size: 25px;
    color: black;
    padding-top: 90px;
    margin-left: 65px;
}
.individual p{
    color: black;
    margin-top: -20px;
    margin-left: 10px;
}
.mini{
    background-color: white;
    width: 15%;
    height: 500px;
    margin-top: -505px;
    margin-left: 450px;
    border-radius: 8px;
    border-style:outset;
    border-color: black;
}
.mini h3{
    font-size: 25px;
    color: black;
    padding-top: 50px;
    margin-left: 65px;
}
.mini p{
    color: black;
    margin-top: -20px;
    margin-left: 10px;
}
.otm{
    position: absolute;
    background-color:white;
    width: 11%;
    margin-top: -110px;
    margin-left: 15px;
    height: 25px;
    border-radius: 5px;
    border-color: blue;
    color: blue;
    border-style:outset;
}
.otm h5{
    font-size: 15px;
    margin-top: 3px;
    padding-left: 4px;
}
.mini hr{
    margin-top: 20px;
}

.advm p{
    font-size: 17px;
    color: black;
    margin-top: 50px;
    line-height: 1.8;
}
.view1{
    background-color: white;
    width: 60%;
    height: 35px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.view1 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.duo{
    background-color: white;
    width: 15%;
    height: 500px;
    margin-top: -505px;
    margin-left: 800px;
    border-radius: 8px;
    border-style:outset;
    border-color: black;
}
.duo h3{
    font-size: 25px;
    color: black;
    padding-top: 90px;
    margin-left: 65px;
}
.duo p{
    color: black;
    margin-top: -20px;
    margin-left: 10px;
}
.advmd{
    font-size: 17px;
    color: black;
    margin-top: 61px;
}
.family{
    background-color: white;
    width: 15%;
    height: 500px;
    margin-top: -505px;
    margin-left: 1150px;
    border-radius: 8px;
    border-style:outset;
    border-color: black;
}
.family h3{
    font-size: 25px;
    color: black;
    padding-top: 90px;
    margin-left: 65px;
}
.family p{
    color: black;
    margin-top: -20px;
    margin-left: 10px;
}
.advmf{
    font-size: 17px;
    color: black;
    margin-top: 41px;
}
.stdoffer{
    /* background-color: black; */
    width: 50%;
    height: 80px;
    margin-left: 370px;
    margin-top: 50px;
    border-radius: 20px;
}
.stdoffer h3{
    font-size: 25px;
    /* color: white; */
    padding-top: 26px;
    padding-left: 20px;
}
.lm{
    position: absolute;
    /* background-color: white; */
    width: 10%;
    height: 35px;
    margin-top: -55px;
    margin-left: 580px;
    border-radius: 20px;
    cursor: pointer;
}
.lm a{
    text-decoration: none;
    /* color: black; */
    color: black;
    font-size: 15px;
}
footer {
    background-color: black;
    /* position: fixed; */
    text-align: center;
    padding: 3px;
    bottom: 2px;
    color: white;
  }